12/03/2024 to 17/03/2024
Vikas Bose
Bulk Upload=:
1. template updated
2. Template upload and zip file upload functionality working
3. When template excel upload then effected tables accelerator_task and accelerator_profile
4. When zip file uploaded,
	a. created new folder in images folder
	b. effected tables are accelerator_task, accelerator_task_image
	c. in case, if any issue happen then delete the values from accelerator_task table.
limitation =:
1. Need to fill the spacified value in excel
2. Only single project at a time mentioned in excel sheet

19/03/2024 to 22/03/2024
Vikas Bose
1. Tagger update the code based on bulk upload and manual entries [working]
	[issue:: while creating upload the images it is creating the multiple folder] - Resolved
	[issue:: task_id is creating the issue, if same details upload again then throwing an error] - Resolved
	[issue:: while changing the status manually or direct Accelerator] - testing
	[issue:: tagging-tool, detail page has issue, showing all 16 items instead of 8 items] - Resolved
	[issue:: when zip file extraacted but items are not extrcted properly] - Resolved
	[issue:: For manual allocation] - resolved
2. anaconda need to install in the Linux VM - Done
26/03/2024 to 29/03/2024
Vikas Bose
3. Reviewer automation - In Progress
	[issue:: verify that automation is working or not for reviewer] - testing
	[issue:: for manual allocation to reviewer ] - in progress
	[issue:: verify the entire cycle of reviewer] - Resolved {automated}
4. Tagging tool
	[issue:: Tagging details page, previously all result related single tagger display now it is also differentiated by folder name] - resolved
	[issue:: Rectangle BB data store into DB but retrieve did not working] - in progress
	[issue:: Cropping not working as expected] - Hold
	[issue:: Document tagging need to integrated] - in progress
	[issue:: When tagger complete the task and submit then need to effected two tables [accelerator_tasks, accelerator_task_image], update query using task_id,profile_id in accelerator_task_image table where accelerator_tasks we need to check weather reviewer_profile_id has assigned or not, if yes then it will be automated or else manual] - Resolved
	[issue:: If automated or already assigne reviewer then details go to reviewer bucket or else assgine to reviewer part] - Resolved 
	[issue:: When automated then checkbox should not appear in "Assgine to reviewer"] - in progress
5. Installing chrome browser in the Linux VM machine - Done
6. KT session with Tushar to handed over the VA implementation
	1. Explain the files and folder - Done
	2. Business requirements and implementation - Done
	3. Azure DB and tables - Done
	4. Scheduler Job and running date + time - Done
7. Linux VM server configuration 
	1. install chorme - Done
	2. IP configuration - Done
	3. External IP access configuration - in progress

01/04/2024 to 05/04/2024
8. Tagging Tool
	[issue:: when change the status of task for Tagger/Reviewer] - Resolved
	[issue:: when bulk upload happen then the tagger & reviewer dashboard shows the process type & update the DB] - resolved
	[issue:: When manual task going to update then popup window open and tagger need to fill the reviewer name] - resolved
	[issue:: system will check the reviewer userid, if valid then it will go further process to assign the task and update the 2 tables] - resolved
	[issue:: historical records, not populated the records] - in progress
	[issue:: need to remove the dropdown and submit button from historical records] - in progress
	[issue:: 
	[issue:: in case the requirement for multiple reviewer allocation then we need to implement the distribution logic for manual] - hold
	[issue:: in case all mentioned reviewer already assigned task then system will show popup message "Already assigned, wan continue or not", if 'yes' then process or else allow to update the reviewer id] - hold
	[issue:: accelerator_profile did not upadate with project id for reviewers] - in progress
	[issue:: remove the dropdown in tagger & reviewer bucket] - hold
	[issue:: rectangle BB retrieving part not working] - in progress

08/04/2024 to 12/04/2024
9. Linux VM
	[issue:: uninstall xampp] - Done
	[issue:: Setup the mysql workbench] - in progress
	[issue:: Setup the database for both tools] - Done
	[issue:: Copy the Accelerator code] - Done
	[issue:: copy the tagging tool code] - Done
10. Tagging tool
	[issue:: rectangle BB retrieving part not working] - in progress
	[issue:: remove the assginee dropdown in tagger & reviewer bucket] - Done
	[issue:: historical records, not populated the records] - resolved
	[issue:: need to remove the dropdown and submit button from historical records] - resolved
	[issue:: click on "edit" button, popup must appear with two dropdowns {assginee, status)] - resolved
11. Accelerator tool
	2. Historical record module needs to be updated - Done 
		[ UI part and filling the records in the dropdown has done]
	3. Historical Record backend need to work - Done
		[Backend section (update operation also finished. Testing has done]
	4. Push all changes related to Accelerator and Tagging tools into Linux VM and Git repository. 
		[Accelerator development has been done and push all changes into Linux VM + Git repo. Once Tagging tool development done phase-I then I will perfrom same action.]
	5. Download button functionality for profile page - Done
12. Taggin tool
	1. Merging the document tagging code in the tagging tool and testing - in progress
		[The new code merging done till detail page and I am currently working on layout page, so both event could work properly. After that I need to do manual testing]
	2. Rectangle BB retrieving part 
		[Still doing R&D. The library has some limitations after customization even the library did not work as expected]
	
22/04/2024 to 01/05/2024
13. Bulk upload : 
	[issue:: UI, create an tab for document upload similar to image upload][https://www.geeksforgeeks.org/how-to-create-tabs-in-reactjs/] - Done
	[issue:: template will be similar and zip file also similar ] - Done
	[issue:: create the table for list of documents] - Done
	[issue:: backend work, add the document details in DB, extract the zip file and then document name & path must add into DB] - Done
14. create task :
	[issue:: check using brwser can we upload documents or not ?] - Done
	[issue:: it must be same work flow like images] - Done

06/05/2024 to 10/05/2024
15. Restrictions - in bulk upload
	[issue:: we should not allow bulk upload till project hasn't been assigned to Manager]
	[issue:: only those details need to add in bulk upload, where listed project assign to Manager]
16. Restrictions - in manual upload
	[issue:: we should not allow manual upload till project hasn't been assigned to Manager] - fixed
	[issue:: only those details need to add in manual upload, where listed project assign to Manager] - fixed
17. [issue:: PUBLIC_URL variable wasn't working] - fixed
18. Tagging Tool
	[issue:: Image component did not working] - fixed
	[issue:: Document component not load the document/pdf files] - In Progress
	
13/05/2024 to 24/05/2024
19. Tagging Tool
	[issue:: Document tagging POC- able to display the docx but not PDF] - In Progress
	[issue:: Externl IP issue for Linux VM] - In Progress

27/05/2024 to 31/05/2024
20. Tagging Tool
	[issue: Push the all Accelerator changes into VM and Git]
	[issue: Document tagging POC- able to display the docx and PDF both]
	[issue: merging the Document Tagging part into main application] - In Progress

03/06/2024 to 7/06/2024
21. Tagging Tool
	[issue: Document tagging POC- able to display the docx and PDF both in richtext box] - In Progress
	[issue: merging the Document Tagging part into main application] - In Progress


12/03/2024 to 29/03/2024
Lalitha and Srilakhmi
1. Create Manger & Create tagger + reviewer page
	[issue:: Adjust the add project button, Upload the project" Adjusent to "add project"] - Done
	[issue:: Create the two links [download report of project | download the template]] - Done
	[issue:: UI changes] - Done
	[issue:: detail panel must auto referesh using react property] - Done
	[issue:: while autoupdate the list panel, it use spinner] - in progress
	[issue:: validate the duplicate entry not happen]
2.  UI, create an tab for document upload similar to image upload [Not completed]
	[issue:: two tabs [image bulk upload | doc bulk upload]
	[issue:: when I click on image tab, when I click on doc tab]

Logic -: [Explain by Vikas]
1. download report of project [backend work]
    - project_id, project_name, project_status in excel sheet file and downaload
    - need to modify the status if 0 = inactive and 1 = active.
2. download the template [excel format template]
    - Project_name, client_name, Domain
3. Upload the project
    - it should update the DB with the details [table name is "accelerator_project"]

12/03/2024 to 29/03/2024
Saddam
1. Video Tagging
	[issue:: track the object in the video + their moment + time] - in progress
	[issue:: rectangle BB not pleace in same position, while fetching the records from DB] - In progress [Vikas need to push the changes in repo - pending]
	
11/06/2024 to 14/06/2024
1. Tagging tool
	[issue:: Need to add the scroller into document display part] - In Progress [completed by Saddam, review code & testing by Vikas Pending]

2. Accelerator Tool
	[issue:: Create project not working in production server ] -completed [Testing done]
	[issue:: Duplicate project name mustn't save in DB] - TBD [Vikas Bose]
	[issue:: Create manager not working in production server ] - In Progress



	





